.compare {
  background-color: var(--secondary);
  .searchGroup {
    display: flex;
    flex-direction: row;
    padding: 2px;

    .searchInput {
      border-radius: 20px;
    }

    .searchBtn {
      margin-left: -75px;
      height: 30px;
      width: 70px;
      margin-top: 4px;
      font-size: 12px;
    }
  }
}
