.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--p-color);
  gap: 0.5rem;
  padding: 5%;
  border-radius: 5px;
}

.btns {
  display: flex;
  align-items: center;
  height: 80%;
}

.btns img {
  cursor: pointer;
}
