.inputDate {
  border: none;
  border-radius: 10px;
  color: rgb(23, 23, 23);
  padding: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.iconDate {
  padding: 1.5% 0 3% 14%;
  background: url('../assets/calendar.svg') no-repeat;
  background-size: 18px;
  background-position-x: 3%;
  background-position-y: 8px;
}
