:root {
  --primary: #fff;
  --secondary: #f8f8fb;
  --btn-color: #0d2f3c;
  --p-color: #bfbfbf;
  --black: #0d2f3c;
  --mentGreen: #a8dadb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
